<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-lg-4 col-md-6 col-12 m-0 p-0 footer__item">
                <p class="widget-title">Thông tin liên hệ   </p>
                <div class="widget-line"></div>
                <div class="widget-content">
                    <h5>CƠ SỞ BÁNH CHƯNG TRẦN GIA</h5>
                    <p>Địa chỉ: 38 ấp Bình Lục, xã Tân Bình, huyện Vĩnh Cửu, Đồng Nai</p>
                    <p>Hotline: 0916.994.879</p>
                    <p>Email: bp.kinhdoanh@banhchungtrangia.vn</p>
                    <p>Website: www.banhchungtrangia.vn</p>
                    <p>Website: www.banhchungtrangia.com</p>
                    <p>Website: www.banhchungtrangia.com.vn</p>
                </div>
            </div>
            <div class="row col-lg-8 col-md-6 col-12 m-0 p-0">
                <div class="col-lg-6 col-md-12 col-12 m-0 p-0 px-lg-3 pt-3 pt-md-0 footer__item">
                    <p class="widget-title">Hỗ trợ đặt hàng</p>
                    <div class="widget-line"></div>
                    <div class="widget-content">
                        <p>Gọi đặt hàng</p>
                        <h4 class="phone">0916.994.879</h4>
                        <p>Thời gian: 8:00-5:00 Thứ 2-Thứ 7<br>(Tháng chạp làm việc 24/7)</p>
                        <div class="social">
                            <span>Chia sẻ:</span>
                            <a class="decoration-none social-icon social-fb" href="https://www.facebook.com/BanhChungTranGiaVN" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a class="decoration-none social-icon social-phone" href="tel:0916994879">
                                <i class="fas fa-phone-square"></i>
                            </a>
                            <a class="decoration-none social-icon social-mail" href="mailto:bp.kinhdoanh@banhchungtrangia.vn">
                                <i class="fas fa-envelope-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 m-0 p-0 pt-3 pt-md-3 pt-lg-0 footer__item">
                    <p class="widget-title">Google Map</p>
                    <div class="widget-line"></div>
                        <div class="widget-content map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.391655932567!2d106.79634994954246!3d11.009212992125342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dbb70dfae913%3A0xcd560d42c6201bb6!2zQ8ahIFPhu58gU-G6o24gWHXhuqV0IELDoW5oIENoxrBuZyBUcuG6p24gR2lh!5e0!3m2!1svi!2s!4v1641802539090!5m2!1svi!2s" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->