<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %> 
</head>
<body>
    <%- include('layouts/header') %> 
    <h2>Hello</h2>
    <%- include('layouts/footer') %> 
</body>
</html>